html {
  font-size: 62.5%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

a.active {
  color: green;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 65rem;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;

  > * {
    margin-top: 10px;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  width: 60%;

  > * {
    margin-top: 10px;
  }
}

h3, h4, h5, h6 {
  margin: 0;
}